
html, body {
  background-color: #f4f4f4;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 24px;
  word-wrap: break-word;
  color: #444;
}

.content {
  width: 900px;
  margin: 0px auto;
}

header {
  margin-top: 20px;
  color: #777;
  border-radius: 2px;
  padding: 10px 0px;
  position: relative;
  text-align: center;
}

header pre {
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
  padding: 0px;
  display: inline-block;
  border: none;
}

nav {
  color: #777;
  letter-spacing: 1px;
  margin: 10px 5px 10px 5px;
}

nav span {
  display: inline-block;
  padding: 10px 15px;
}

a {
  color: inherit;
  text-decoration-color: #ccc;
}

pre, code {
  margin: 10px 0px;
  line-height: 17px;
  font-family: 'DejaVu Sans Mono', monospace;
  padding: 20px 40px;
}

pre {
  border: 1px solid #e0e0e0;
}

.result {
  border-top: none;
  margin-top: -10px;
  margin-bottom: 70px;
}

code {
  background-color: #343d46;
  display: block;
  white-space: pre;
}

.text {
  padding: 20px;
}

footer {
  font-style: italic;
  color: #888;
  text-align: center;
  margin-bottom: 30px;
}
