
html, body {
  background-color: #f4f4f4;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 24px;
  word-wrap: break-word;
  color: #444;
}

@media print {
  html, body {
    background-color: white;
  }
}

main {
  max-width: 900px;
  margin: 0px auto;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
}

header {
  margin-top: 20px;
  color: #777;
  padding: 10px 0px;
  position: relative;
  text-align: center;
}

header pre {
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
  padding: 0px;
  display: inline-block;
}

nav {
  color: #777;
  letter-spacing: 1px;
  margin: 20px 0px 30px 0px;
  text-align: center;
}

nav span {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration-color: #bbb;
}

code {
  padding: 2px 6px;
  border-radius: 2px;
  background-color: #e3e3e3;
  white-space: nowrap;
}

hr {
  height: 3px;
  background-color: #ddd;
  border: none;
}

.result {
  font-family: "DejaVu Sans Mono";
  line-height: 17px;
  margin: 0px;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  padding: 25px 30px;
  overflow-x: auto;
}

.sample {
  margin: 40px 0px;
  border-radius: 3px;
  overflow: hidden;
}

.exampleTitle {
  font-size: 24px;
  font-weight: normal;
  margin: 40px 0px;
  letter-spacing: 1px;
  color: #555;
}

.exampleTitle span a {
  text-decoration: none;
}

.fileName {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding: 15px 15px 15px 25px;
  color: #777;
  background-color: #ddd;
}

#whyPointless {
  background-color: #e3e3e3;
  padding: 2px 14px 10px 14px;
  border-radius: 2px;
  margin: 20px 0px;
}

footer {
  font-style: italic;
  color: #888;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  header pre {
    color: #000;
    font-size: 3px;
    line-height: 4px;
  }

  nav span {
    padding: 2px 6px;
  }
}
