body {
  height: 100vh;
  max-width: none;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 20px;
}

nav {
  justify-content: left;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  min-height: 0;
}

pre {
  all: revert;
}

#editor, #output {
  padding: 14px;
  border: var(--border);
}

#editor {
  background-color: #fef5ea;
  border-color: #f7e3ca;
  position: relative;
  font-family: var(--font-mono);
}

#output {
  background-color: #f1f1f1;
  margin: 0;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  overflow: scroll;
}
