
@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("../fonts/DejaVuSansMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.highlight {
  background-color: #343d46;
  display: block;
  position: relative;
  margin: 0px;
  color: #D8DEE9;
  font-size: 14px;
  line-height: 17px;
  caret-color: white;
  overflow-y: auto;
  padding: 25px 20px;
  page-break-inside: avoid;
}

.highlight[data-edit] {
  padding: 0px;
}

.highlight code, .highlight textarea {
  font-family: "DejaVu Sans Mono";
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  white-space: pre-wrap;
  resize: none;
  margin: 0px;
  overflow-wrap: break-word;
}

.highlight code:first-child {
  user-select: none;
  overflow: hidden;
}

.highlight code:last-child {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  height: auto;
  width: auto;
  top: 25px;
  left: 30px;
  right: 30px;
}

.highlight textarea:last-child {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}
