
html {
  padding: 10px 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 24px;
  word-wrap: break-word;
  color: #444;
}

main {
  width: 800px;
  font-family: monospace;
  line-height: 18px;
}

a {
  color: inherit;
  text-decoration-color: #ccc;
}

.anchor {
  color: #aaa;
  text-decoration: none;
  font-size: 12px;
  user-select: none;
}

.anchor:hover {
  color: #444;
}

hr {
  height: 2px;
  border: none;
  background-color: #eee;
  margin: 20px 0px;
}

.doc {
  margin: 10px 20px;
}
